WCFClientTest/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyMath" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMath_IntAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:IntAdd" />
  </wsdl:message>
  <wsdl:message name="IMath_IntAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMath_DoubleAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:DoubleAdd" />
  </wsdl:message>
  <wsdl:message name="IMath_DoubleAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoubleAddResponse" />
  </wsdl:message>
  <wsdl:portType name="IMath">
    <wsdl:operation name="IntAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMath/IntAdd" message="tns:IMath_IntAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMath/IntAddResponse" message="tns:IMath_IntAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoubleAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMath/DoubleAdd" message="tns:IMath_DoubleAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMath/DoubleAddResponse" message="tns:IMath_DoubleAdd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMath" type="tns:IMath">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntAdd">
      <soap:operation soapAction="http://tempuri.org/IMath/IntAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoubleAdd">
      <soap:operation soapAction="http://tempuri.org/IMath/DoubleAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyMath">
    <wsdl:port name="BasicHttpBinding_IMath" binding="tns:BasicHttpBinding_IMath">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryTest/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>